*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 22px;
}
body{
    background-color: black;
    font-family: Helvetica, sans-serif;
    font-size: 2.2rem;
    color:seashell;
    opacity: 0.9;
    text-align: center;
    line-height: 1.2;
}
h2{
    font-size: 30px;

    width: 100%;
    line-height: 1;
}
h3{
    font-size: 24px;
}
h4{
    font-size: 16px;
}
p{
    margin: 10px;
}

/*nav bar*/
.nav-bar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    opacity: 0.9;
    height: 69px;
    border-bottom: 1px solid seashell;
    overflow: clip;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px;
    z-index: 1;
}
nav img{
    height: 50px;
    justify-self: flex-start;
}
.nav-links{
    display: flex;
    justify-content: space-between;
    /*width: 30%;*/
    list-style: none;
}
ul li a{
    text-decoration: underline;
    color: seashell;

    margin: 0 10px;
}
nav ul li a:hover{
    color: #b2aca6;
    cursor: pointer;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    flex-basis: 1200px auto;
    margin: 70px 30px 0 30px;
}
/*Hero Image*/
.hero-image{
    background-image: url("../img/img-mission-background.jpg");
    background-size: cover;
    background-position: center;
    height: 700px;
    max-height:700px;
    /*min-width:1200px;*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: -1;
}
.hero-text{
    display: flex;
    min-width: 100%;
    flex-direction: column;
    flex-basis: 1200px auto;
    padding: 10px;
    background-color: rgba(0, 0, 0);
}
/*Teas of the month section*/
#featured{
    margin-top:70px;
}
.teas-of-the-month{
    display: flex;
    flex-basis:1000px;
    /*height: 700px;*/
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 30px;
    flex-wrap: wrap;
}
.tea-card {
    margin: 10px;
    width: 300px;
    height:250px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;

}
.tea-card img{
    width:300px;
    height:200px;
    margin: 10px;
}
/*Locations*/
.locations-container{
    /*margin: 30px 70px;*/
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width:100%;
    min-height: 500px;
    background-image: url("../img/img-locations-background.jpg");
    background-size: cover;
    background-position: center;
    gap: 20px;


}
.locations-card{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
background-color: #000000;
width: 300px;
height: 300px;

color: seashell;
opacity: 1;
}


/*contact*/
.contact-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    min-height:200px;
    gap: 20px;
}

/*Footer*/
footer{
    align-self: flex-start;

}
footer p{
    text-align: left;
    margin-left: 30px;
}